<!-- <div class="form-group" >
  <label for="file">SAS URI</label>
  <input type="text"  [(ngModel)]="txtUri"/>
</div> -->


<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="onFileChange($event)">
</div>
<div class="progress" *ngIf="this.currentFile">
  <div class="progress-bar" [style.width.%]="this.currentFileSize / this.fileSize * 100">
    {{ ((this.currentFileSize / this.fileSize) * 100).toFixed() }}%
  </div>
</div>
